In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Описание датасета**

Набор данных представляет собой список 200 самых популярных Instagram аккаунтов. Набор включает в себя никнейм в социальной сети, количество подписчиков, постов, "рейтинг влияния", страну и некоторые другие метрики.

Вывод датасета. В наборе присутствуют пропущенные данные и один категориальный признак.

In [12]:
import pandas as pd
import numpy as np

filename = '/content/drive/My Drive/МГТУ/6 семестр/ТМО/lab02/lab02tmo.csv'
ds = pd.read_csv(filename)
# pd.set_option('max_rows', 6)

pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', '{:.2f}'.format)
ds.columns = ['Место', 'Никнейм', 'Рейтинг влияния' , 'Публикации', 'Подписчики(млн)', 'Среднее кол-во лайков', 'Вовлеченность', 'Среднее кол-во лайков на новой публикации', 'Всего лайков', 'Страна']
ds = pd.DataFrame(ds)
display(ds)

,Место,Никнейм,Рейтинг влияния,Публикации,Подписчики(млн),Среднее кол-во лайков,Вовлеченность,Среднее кол-во лайков на новой публикации,Всего лайков,Страна
0,1,cristiano,92,3.3k,475.80,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.20,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.30,6.8m,1.24%,4.4m,6.0b,NaN
3,4,selenagomez,93,1.8k,342.70,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.10,1.9m,0.20%,665.3k,12.5b,United States
...,...,...,...,...,...,...,...,...,...,...
195,196,iambeckyg,71,2.3k,33.20,623.8k,1.40%,464.7k,1.4b,United States
196,197,nancyajram,81,3.8k,33.20,390.4k,0.64%,208.0k,1.5b,France
197,198,luansantana,79,0.77k,33.20,193.3k,0.26%,82.6k,149.2m,Brazil
198,199,nickjonas,78,2.3k,33.00,719.6k,1.42%,467.7k,1.7b,United States
199,200,raisa6690,80,4.2k,32.80,232.2k,0.30%,97.4k,969.1m,Indonesia

Для удаления пропусков в данных используется функция dropna. После удаления в датасете осталось 153 строки.

In [13]:
ds = ds.dropna()
display(ds)

,Место,Никнейм,Рейтинг влияния,Публикации,Подписчики(млн),Среднее кол-во лайков,Вовлеченность,Среднее кол-во лайков на новой публикации,Всего лайков,Страна
0,1,cristiano,92,3.3k,475.80,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.20,8.3m,1.62%,5.9m,57.4b,United States
3,4,selenagomez,93,1.8k,342.70,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.10,1.9m,0.20%,665.3k,12.5b,United States
5,6,kimkardashian,91,5.6k,329.20,3.5m,0.88%,2.9m,19.9b,United States
...,...,...,...,...,...,...,...,...,...,...
195,196,iambeckyg,71,2.3k,33.20,623.8k,1.40%,464.7k,1.4b,United States
196,197,nancyajram,81,3.8k,33.20,390.4k,0.64%,208.0k,1.5b,France
197,198,luansantana,79,0.77k,33.20,193.3k,0.26%,82.6k,149.2m,Brazil
198,199,nickjonas,78,2.3k,33.00,719.6k,1.42%,467.7k,1.7b,United States
199,200,raisa6690,80,4.2k,32.80,232.2k,0.30%,97.4k,969.1m,Indonesia

Кодирование категориальных признаков было сделано с помощью Label Encoder. Данный тип кодирования является наиболее часто используемым, преобразование представляет собой однозначное соответствие число <-> уникальное значение категориального признака.

In [14]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
ds['Страна'] = labelencoder.fit_transform(ds['Страна'].values)
display(ds)

,Место,Никнейм,Рейтинг влияния,Публикации,Подписчики(млн),Среднее кол-во лайков,Вовлеченность,Среднее кол-во лайков на новой публикации,Всего лайков,Страна
0,1,cristiano,92,3.3k,475.80,8.7m,1.39%,6.5m,29.0b,17
1,2,kyliejenner,91,6.9k,366.20,8.3m,1.62%,5.9m,57.4b,23
3,4,selenagomez,93,1.8k,342.70,6.2m,0.97%,3.3m,11.5b,23
4,5,therock,91,6.8k,334.10,1.9m,0.20%,665.3k,12.5b,23
5,6,kimkardashian,91,5.6k,329.20,3.5m,0.88%,2.9m,19.9b,23
...,...,...,...,...,...,...,...,...,...,...
195,196,iambeckyg,71,2.3k,33.20,623.8k,1.40%,464.7k,1.4b,23
196,197,nancyajram,81,3.8k,33.20,390.4k,0.64%,208.0k,1.5b,8
197,198,luansantana,79,0.77k,33.20,193.3k,0.26%,82.6k,149.2m,2
198,199,nickjonas,78,2.3k,33.00,719.6k,1.42%,467.7k,1.7b,23
199,200,raisa6690,80,4.2k,32.80,232.2k,0.30%,97.4k,969.1m,11

Для просмотра списка закодированных значений используется функция labelencoder.classes_ . Реализация Label Encoder в sklearn прежде всего сортирует по алфавиту уникальные значения, потом присваивает им порядковый номер. Таким образом уникальный номер категориального признака -- это его индекс в данном массиве.

In [6]:
labelencoder.classes_

array(['Anguilla', 'Australia', 'Brazil', 'British Virgin Islands',
       'Canada', 'Colombia', 'Czech Republic', "CÃ´te d'Ivoire", 'France',
       'Germany', 'India', 'Indonesia', 'Italy', 'Mexico', 'Netherlands',
       'Puerto Rico', 'Russia', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay'], dtype=object)

При нормализации меняем масштаб данных. Чаще всего масштабирование данных изменяется в диапазоне от 0 до 1.

In [16]:
from sklearn.datasets import load_iris
from sklearn import preprocessing
x_array = np.array(ds['Рейтинг влияния'])
normalized_arr = preprocessing.normalize([x_array])
ds['Рейтинг влияния'] = normalized_arr[0]


x_array = np.array(ds['Подписчики(млн)'])
normalized_arr = preprocessing.normalize([x_array])
ds['Подписчики(млн)'] = normalized_arr[0]
display(ds)

,Место,Никнейм,Рейтинг влияния,Публикации,Подписчики(млн),Среднее кол-во лайков,Вовлеченность,Среднее кол-во лайков на новой публикации,Всего лайков,Страна
0,1,cristiano,0.10,3.3k,0.35,8.7m,1.39%,6.5m,29.0b,17
1,2,kyliejenner,0.09,6.9k,0.27,8.3m,1.62%,5.9m,57.4b,23
3,4,selenagomez,0.10,1.8k,0.25,6.2m,0.97%,3.3m,11.5b,23
4,5,therock,0.09,6.8k,0.24,1.9m,0.20%,665.3k,12.5b,23
5,6,kimkardashian,0.09,5.6k,0.24,3.5m,0.88%,2.9m,19.9b,23
...,...,...,...,...,...,...,...,...,...,...
195,196,iambeckyg,0.07,2.3k,0.02,623.8k,1.40%,464.7k,1.4b,23
196,197,nancyajram,0.08,3.8k,0.02,390.4k,0.64%,208.0k,1.5b,8
197,198,luansantana,0.08,0.77k,0.02,193.3k,0.26%,82.6k,149.2m,2
198,199,nickjonas,0.08,2.3k,0.02,719.6k,1.42%,467.7k,1.7b,23
199,200,raisa6690,0.08,4.2k,0.02,232.2k,0.30%,97.4k,969.1m,11